$color-primary-gray: #c4c4c4; //серый цвет фона для контенера comments
$color-primary-orange: orange; //цвет для title постов
$color-primary-white: white; //классический белый цвет
$color-primary-purple: #540554; //классический белый цвет
