@import '../settings/colors';

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin orange-hover{
    color: $color-primary-orange;
    transition: 0.3s ease all;
    text-shadow: 7px 7px 5px black, 0 0 1em purple, 0 0 0.2em blue;
}